<!DOCTYPE HTML>
<html dir="ltr" lang="{{ site.locale | default: " en-US" }}">

<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/lab-rapport/css/style.css">
    <title> Rapport </title>

</head>

<body>
    <div id="page-wrapper" class="page-wrapper">
        <div class="book">
            <article size="A4">
                {{ content }}
            </article>
        </div>
    </div>
</body>

</html>